@model IEnumerable<iTutor.Models.Class>

@{
    ViewBag.Title = "ViewCategory";
    Layout = "~/Views/StudentLayout.cshtml";
}

<h2>ViewCategory</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.std)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.std)
            </td>

        </tr>
    }

</table>

<br />
<br />
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">Category</h6>
    <h1 class="mb-5">Standards</h1>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">


                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user text-primary mb-4"></i>
                            <h5 class="mb-6">
                               
                                @Html.DisplayFor(modelItem => item.std)
                               
                            </h5>
                            <h6 class="mb-6">
                               
                            </h6>

                            <h6 class="mb-6">
                               

                            </h6>

                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>